<p>
  song works!
</p>
<div class="text-center" *ngFor="let music of this.songService.songs">

 <h3 (click)="searchVideo(music)"> <a> {{music.name}} </a> </h3> 
</div>
<p>
  youtube works!
</p>
<div class="row">

  <div class="videoPlayer" *ngIf="videoUrl != undefined">

    <!-- 
      Lecteur Youtube 
      L'attribut [src] sera rempli avec l'url de la vidéo trouvée suite à une requête à l'API Youtube Data.
    -->
    <iframe width="560" height="315" [src]="videoUrl | mypipe" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
    web-share" allowfullscreen></iframe>

  </div>
</div>
